{% extends 'base.html' %}


{% block content %}
    <div class="mdl-grid portfolio-max-width portfolio-contact">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Piazza Pio X, 31052 Candelù di Maserada sul Piave, Treviso (IT)</h2>
            </div>
            <div class="mdl-card__media">
                <!-- google maps iframe -->
                <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Piazza+Pio+X,+31052+Candel%C3%B9+di+Maserada+sul+Piave&amp;aq=&amp;sll=45.736545,12.373009&amp;sspn=0.007473,0.01929&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Piazza+San+Pio+X,+31052+Maserada+Sul+Piave+Treviso,+Veneto,+Italy&amp;ll=45.736545,12.373009&amp;spn=0.007473,0.01929&amp;z=14&amp;output=embed">
                </iframe>
            </div>
        </div>

        <!-- gsc -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">G.S.C.</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Lorenzo Mattiuzzo <br/><br/>
                    <ul>
                        <li>(+39) 3355424049</li>
                        <li><a href="mailto:info@gscandelu.it">info@gscandelu.it</a></li>
                    </ul>
            </div>
        </div>

        <!-- mostra dei vini -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Mostra dei Vini</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Danilo Fuser <br/><br/>
                    <ul>
                        <li>(+39) 3495110220</li>
                        <li><a href="mailto:mostradeivinicandelu@libero.it">mostradeivinicandelu@libero.it</a></li>
                        <li><a href="mailto:fuser.danilo@libero.it">fuser.danilo@libero.it</a></li>
                    </ul>
            </div>
        </div>

        <!-- pitona -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Pitona</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Alberto Grosso <br/><br/>
                    <ul>
                        <li>(+39) 3391325591</li>
                        <li><a href="mailto:pitona@gscandelu.it">pitona@gscandelu.it</a></li>
                        <li><a href="mailto:alberto.grosso1984@libero.it">alberto.grosso1984@libero.it</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}