{% extends 'base.html' %}


{% block content %}
    <div class="mdl-grid portfolio-max-width portfolio-contact">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Piazza Pio X, 31052 Candelù di Maserada sul Piave, Treviso (IT)</h2>
            </div>
            <div class="mdl-card__media">
                <!-- google maps iframe -->
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=12.368878126144411%2C45.73391659079393%2C12.377740144729614%2C45.73932312455986&amp;layer=mapnik&amp;marker=45.73661992310937%2C12.373309135437012"></iframe><br/>
                <small><a href="https://www.openstreetmap.org/?mlat=45.73662&amp;mlon=12.37331#map=17/45.73662/12.37331">View Larger Map</a></small>
            </div>
        </div>

        <!-- gsc -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">G.S.C.</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Lorenzo Mattiuzzo <br/><br/>
                    <ul class="no-style">
                        <li>(+39) 3355424049</li>
                        <li><a href="mailto:info@gscandelu.it">info@gscandelu.it</a></li>
                    </ul>
            </div>
        </div>

        <!-- mostra dei vini -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Mostra dei Vini</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Danilo Fuser <br/><br/>
                    <ul class="no-style">
                        <li>(+39) 3495110220</li>
                        <li><a href="mailto:mostradeivinicandelu@libero.it">mostradeivinicandelu@libero.it</a></li>
                        <li><a href="mailto:fuser.danilo@libero.it">fuser.danilo@libero.it</a></li>
                    </ul>
            </div>
        </div>

        <!-- pitona -->
        <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
            <div class="mdl-card__title">
                <h3 class="mdl-card__title-text">Pitona</h3>
            </div>
            <div class="mdl-card__supporting-text">
                    Sig. Alberto Grosso <br/><br/>
                    <ul class="no-style">
                        <li>(+39) 3391325591</li>
                        <li><a href="mailto:pitona@gscandelu.it">pitona@gscandelu.it</a></li>
                        <li><a href="mailto:alberto.grosso1984@libero.it">alberto.grosso1984@libero.it</a></li>
                    </ul>
            </div>
        </div>
    </div>
{% endblock %}