{% extends 'base.html' %}


{% block content %}
<div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Sagra!</h2>
        </div>
        <div class="mdl-card__media">
            <a href="sagra.html"> <img class="article-image" src=" images/example-blog02.jpg" alt="" border="0"></a>
        </div>
        <div class="mdl-card__supporting-text no-bottom-padding">
            <span>Posted 2 days ago</span>
        </div>
        <div class="mdl-card__supporting-text">
            <p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in.</p>
        </div>
    </div>

    <div class="demo-card-event mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-card mdl-shadow--4dp portfolio-blog-card-event-bg mdl-color-text--white">
        <div class="mdl-card__title mdl-card--expand">
            <h4 class="mdl-color-text--white">
              Conference event:<br>
              May 24, 2016<br>
              7-11pm
            </h4>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-color-text--white" href="vini.html">
              Le aziende
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons ">event</i>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp ">
        <div class="mdl-card__media">
            <a href="eventi.html"> <img class="article-image" src=" images/example-blog04.jpg" alt="" border="0"></a>
        </div>
        <div class="mdl-card__supporting-text">
            <small>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit.</small>
        </div>
        <div class="mdl-card__supporting-text">
            <p>Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Qui ullamco consectetur aute fugiat officia ullamco proident Lorem ad irure. Sint eu ut consectetur ut esse veniam.</p>
        </div>
    </div>

</div>
{% endblock %}